/node_modules
/public/hot
/public/storage
/public/image
/storage/*.key
/vendor
/public/uploads
.env
.env.backup
env-backup
env-opik
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
